body {
  background-color: #bfe7be;
}

h1 {
  color: aqua;
  font-size: 1.2rem;
  justify-content: center;
}

h2::first-letter {
  font-size: 1.5rem;
}

h2 {
  background: #4dbc49;
}

h3 {
  background: #f0a4f0;
}

form {
  background: indigo;
  border: 2px solid orange;
}

div#tytul {
  border: 10px groove red;
}

h2::before {
  border: pink;
}

h3::after {
  border: blueviolet;
}

table, td {
  border: 2px solid violet;
}

p > q {
  font-style: italic;
  color: lightcoral;
}

table + tr:nth-child(1) {
  background-color: gray;
}

div#second span {
  text-decoration: underline;
}

div.example { 
  color: red;
}